<?xml version="1.0"?>
<launch>

  <include file="$(find audibot_gazebo)/launch/audibot_robot_sens.launch" >
    <arg name="start_x" value="0" />
    <arg name="start_y" value="0" />
    <arg name="start_z" value="0" />
    <arg name="start_yaw" value="0" />
    <arg name="pub_tf" value="true" />
    <arg name="tf_freq" value="100.0" />
    <arg name="blue" value="false" />
  </include>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <include file="$(find clrn_feedback)/launch/odom_single_audi.launch"/>

  <include file="$(find clrn_command)/launch/control_single_audi.launch"/>

  <node pkg="rviz" type="rviz" name="single_vehicle_viz" args="-d $(find clrn_gazebo)/rviz/clrn_single_audi.rviz" />

</launch>
